.orange {
    background-color: orange;
    color: white;
    
}

.light {
    background-color: white;
    color: black;
}

.red {
    background-color: red;
    color: white;
    
}

.green {
    background-color: green;
    color: white;
    
}

.violet {
    background-color: violet;
    color: white;
    
}

.indigo {
    background-color: indigo;
    color: white;
    
}

.blue {
    background-color: dodgerblue;
    color: white;
    
}

.pink {
    background-color: pink;
    color: white;
    
}

